@using EntityLayer;
@model List<Blog>;

@{
    ViewData["Title"] = "BlogListWithWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h3>Yazarın Blogları</h3>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Blog olusturma tarihi</th>
        <th>Kayegori</th>
        <th>Durum</th>
        <th>Silme</th>
        <th>Düzenleme</th>
    </tr>
    @foreach (var blog in Model)
    {
        <tr>
            <td>@blog.BlogId</td>
            <td>@blog.BlogTitle</td>
            <td>@blog.BlogCreateDate.ToShortDateString()</td>
            <td>@blog.Category.CategoryName</td>
            <td>@blog.BlogStatus</td>
            <td><a href="/blog/DeleteBlog/@blog.BlogId" class="btn btn-danger">Silme</a></td>
            <td><a href="/blog/EditBlog/@blog.BlogId" class="btn btn-warning">Duzenleme</a></td>
        </tr>
    }
</table>
<a href="/Blog/BlogAdd" class="btn btn-success">Yeni Blog Olustur</a>

